<div class="reset-container">
  <h2>Reset Your Password</h2>
  <form class="reset-form">
    <input
      type="password"
      id="newPassword"
      name="newPassword"
      placeholder="New Password"
      [(ngModel)]="newPassword"
      required
    />
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      placeholder="Confirm Password"
      [(ngModel)]="confirmPassword"
      required
    />
    <button type="submit" (click)="changePassword()">Reset Password</button>
  </form>
  <p class="message">{{ resetMessage }}</p>
</div>
