<div class="post-card">
  <div class="post-header">
    <img
      [src]="post.user?.profileImage"
      *ngIf="post.user?.profileImage"
      class="pfp"
    />
    <img src="guest.png" class="pfp" />
    <p>{{post.user?.name}}</p>
  </div>
  <div class="post-main">
    <p>{{post.description}}</p>
    <img [src]="post.imageUrl" *ngIf="post.imageUrl" />
  </div>
  <div class="post-footer">
    <span>👍 Likes {{getLikeCount()}}</span>
    <span>💬 Comments {{getCommentCount()}}</span>
  </div>
</div>
<hr />
