hr {
  width: 98%;
  height: 5px;
  background-color: gainsboro;
}
.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.post-card {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 16px;
  min-height: 300px;
}
.post-header {
  width: 100%;
  padding-left: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
.post-main {
  margin-bottom: 10px;
  padding-left: 5px;
}

.post-main img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}
.post-main p {
  white-space: pre-line;
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
}
.post-footer {
  padding-left: 5px;
  display: flex;
  gap: 10px;
}
.post-footer span {
  cursor: pointer;
}
