hr {
  width: 98%;
  height: 5px;
  background-color: gainsboro;
}
.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.more {
  width: 30px;
  cursor: pointer;
}
.post-video {
  width: 100%;
  height: auto;
}
.post-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}
.post-card {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 16px;
  min-height: 300px;
  padding-bottom: 10px;
}
.post-header {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  margin-bottom: 10px;
}
.user-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.post-main {
  width: 95%;
  margin-bottom: 10px;
  padding-left: 5px;
}

.post-main img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}
.post-main p {
  white-space: pre-line;
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
}
.post-footer {
  width: 95%;
  padding-left: 5px;
  display: flex;
  gap: 10px;
}
.post-footer span {
  cursor: pointer;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
}

.modal-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.cancel-btn,
.confirm-btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.confirm-btn {
  background: red;
  color: white;
  border: none;
}

.cancel-btn {
  background: gray;
  color: white;
  border: none;
}
.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 4px;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
}
