html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

app-header-component {
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
}

app-home-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
app-post-component {
  width: 95%;
  height: 100%;
  max-width: 860px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
app-create-post {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99999999;
  top: 0;
  left: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
